<div id="frontpage">
<a id="about" href="/about">About</a>
<div class="panel">
  <div class="signup">
    <%= render "signup" %>
  </div>
  <div class="signin">
    <%= render "signin" %>
  </div>
</div>

<%= render "devise/shared/links" %>
</div>
