<h1>Welcome to Jailbird</h1>
  <p class='description'>
    The last phone number you'll ever need to reach your contacts if you only had one call.
    When calling Jailbird, you can forward your calls to your favorite peeps, send a voice broadcast
    to your family to announce your engagement, or send a transcribed text message to a group of friends.
  </p>
  <p>
    First, add contacts to your Jailbird address book.
  </p>
<div class="gcontacts">
  <%= link_to 'Import Google Contacts', '/google/new' %>
</div>
<div class="manually_import">
  <%= button_to 'Skip', '/start/jailbird' %>
</div>