<div>
  <h1>Unleash your Jailbird</h1>
</div>
<div class="jailbird_description">
  Now unleash your Jailbird by entering your phone number and a pin.
  You will use these numbers to access your Jailbird address book when you call 480-725-HELP(2473).
</div>
<div class="phone_confirmation">
  <%= render "devise/registrations/phone_confirmation" %>
</div>