<div class="contact" id=<%= contact.id %> >
  
  <span class="pic">
    <img src= <%= "/profilepics/"+ Random.rand(73).+(1).to_s + ".jpg" %> >
  </span>

  <span class="name">
    <%= contact.name %>
  </span>



</div>
