<h1>Select the contacts you would like to your Jailbird address book:</h1>
<% @imported_contacts.each do |contact| %>
	<div class="contact import">
		<%= image_tag 'cop-icon.png', alt: contact[:name], size: "50x50" %>
		<h3><%= contact[:name] %></h3>
		<p><%= contact[:mobile] %></p>
	</div>
<% end %>