<div>
<% if user_signed_in? %>
  <%= link_to 'Add your contacts from Google', user_omniauth_authorize_path(:google_oauth2) %>
  <div id="name_column">
    <% @contacts.each do |c| %>
      <div class="row">
        <span class="name">
          <%= c.name %>
        </span>
        <span class="phone_number">
          <%= c.phone_number %>
        </span>
      </div>
    <% end %>
  </div>
  <% end %>
</div>