
  <% if user_signed_in? %>

    <%= render "users_contacts" %>
    <div class="new_button">
      <%= button_to "+ contact", new_contact_path, :method => 'get' %>
      <%= button_to "+ group", new_group_path, :method => 'get' %>
    </div>
    <h3>Groups</h3>
    <%= render "users_groups" %>
  <% end %>

