/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image: url('home_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign_up {
  color: white;
  margin-top: 20%;
  margin-left: 55%;
}

#sign_up input {
  height: 35px;
  width: 300px;
  font-size: 25px;
  color: #666;
  margin: -5px 0 -5px 0;
  border-radius: 10px;
  padding-left: 10px
}

#sign_up label {
  display: none
}

#sign_up input[type=submit] {
  margin-top: 15px;
  width: 315px;
  height: 40px;
  line-height: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 10px;
  box-shadow: 0 3px 6px #333;
  border: solid 1px #0099CC;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#33B5E5));
}
  
#sign_up input[type=submit]:active {
  position: relative;
  top: 1px;
}

#sign_up ::-webkit-input-placeholder {
   font-family: 'Roboto';
   font-weight: lighter;
   font-size: 20px;
}
