#contacts, #import_container {
  width:960px;
  height:360px;
  overflow:scroll;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#groups {
  width:960px;
  height:300px;
  overflow-y:scroll;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.new_button {
  text-align: center;
  margin: auto;
}

.new_button form{
  display: inline-block;
  margin: 0 100px 0 100px
}

.new_button input[type=submit], .panel .signin input[type=submit] {
  margin-top: 15px;
  width: 150px;
  height: 35px;
  line-height: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 20px;
  display: inline-block;
  text-align: left;
  padding-left: 30px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 3px 6px #333;
  border: solid 1px #0099CC;
  background: -webkit-gradient(linear, left top, left bottom, from(#33B5E5), to(#0099CC));
}

.new_button input[type=submit]:active, .panel .signin input[type=submit]:active {
  position: relative;
  top: 2px;
}

h3 {
  text-align: center
}

.contact {
  height: 70px;
  width: 250px;
  background-color: white;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #666;
}

.contact .pic {
  width: 70px;
  height: 70px;
  float: left
}

.contact .pic img {
  height: 70px;
  width: 70px;

}

.contact .name {
  font-size: 20px;
  line-height: 70px
}

.drag {
  float: right;
  line-height: 90px
}

.edit_pic {
  float: left;
  margin-right: 10px;
}

.edit_card h4{
  text-align: center;
}

.edit_card label {
  margin: 0 10px 10px 0;

}

#new_contact label {
  margin-top: 20px
}

.edit_card  input[type=submit], #new_contact input[type=submit], #new_group input[type=submit] {
  margin-top: 35px;
  width: 100px;
  height: 25px;
  line-height: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size:15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 3px 6px #333;
  border: solid 1px #0099CC;
  background: -webkit-gradient(linear, left top, left bottom, from(#33B5E5), to(#0099CC));
}

.edit_card input[type=submit]:active {
  position: relative;
  top: 2px;
}

#filter, .edit_card input[type=text], #new_contact input[type=text], #new_group input[type=text] {
  height: 25px;
  width: 150px;
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: inset 1px 1px 3px 1px #666;
  display: block;
  margin-bottom: -22px
}

#delete {
  float: right;
  margin-top: -25px;
}

#new_contact label, #new_group label{
  display: block;
}

.errors{
  width: 70%;
  margin: 0 auto;
  background-color: #FF4444;
  text-align: center;
  padding: 3px;
}

.notice{
  margin: 0 auto;  
  width: 70%;
  text-align: center;
  background-color: #26CC26;
  padding: 3px;  
}

.alert{
  width: 70%;
  margin: 0 auto;  
  text-align: center;
  background-color: #FFBB33;
  padding: 3px;
  margin-bottom: 20px;
}

/*Nicks addition below*/


.contact.import .name, .contact.import .phone_number  {
  line-height: 100%;
}

.selected {
  box-shadow: 0 0 15px 5px #0099CC;
}

#import_container button {
  margin: 0 42.5%;
  width: 150px;
  height: 35px;
  line-height: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size:17px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 3px 6px #333;
  border: solid 1px #33B5E5;
  background: -webkit-gradient(linear, left top, left bottom, from(#33B5E5), to(#0099CC));
  margin-bottom: 20px
}

#import_container {
  height: 100% !important
}

#import_container h1 {
  text-align: center
}

.import_message {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding: 3px;
}
