.contact{
  border: 5px solid yellow;
  width: 80px;
  height: 30px;
  margin: 10px;
}

li{
  list-style-type: none;
  background-color: green;
  width: 300px;
  height: 200px;
  margin: 30px;
  display: inline-block;
}