#start {
  width: 400px;
  margin: 0 auto;
  font-size: 20px;
  padding: 25px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 10px black;
  font-weight: lighter;
}

#start h1 {
  text-align: center
}

#start  input[type=submit], #new_contact input[type=submit], #new_group input[type=submit] {
  width: 100px;
  height: 25px;
  margin: 35px auto;
  line-height: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size:15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 3px 6px #333;
  border: solid 1px #0099CC;
  background: -webkit-gradient(linear, left top, left bottom, from(#33B5E5), to(#0099CC));
}

#start input[type=submit]:active {
  position: relative;
  top: 2px;
}

#start img {
  width: 100px;
  float: left;
  margin-bottom: 10px;  
}

#start .gcontacts a{
  line-height: 100px;
  margin-left: 10px;
}

#start .gcontacts {
  width: 400px;
  margin: 35px auto;
}

#start input[type=text] {
  display: block;
}


#start input[type=text], #start input[type=password], #start input[type=email] {
  height: 25px;
  width: 150px;
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: inset 1px 1px 3px 1px #666;
  margin-bottom: -22px
}

#start label {
    display: block;
    margin: 20px 0 -20px 0
}
