<div id='start'>
<img id="intro" src='/call.jpg'></img>
<h1>Hello.</h1>
  <p class='description'>
    <p>
    Jailbird is last phone number you'll ever need.
    </p>
    <p>
    It only takes 3 easy steps:
    </p>
    <ol>
      <li>Sign Up.</li>
      <li>Imported you contacts and customize your groups</li>
      <li>Set up your personal Jailbird pin.</li>
    </ol>
    <p>Once you are all set up, call Jailbird from any phone and you can access your personalized address book.
    </p>
    <p>
    Jailbird can help forward your call to any of those phone numbers you no longer remember, send a voice recording blast to any of your groups, or send a text message with your voice recording transcribed.
  </p>
  <%= link_to "Let's Get Started", root_path %>
</div>
